<main>
  <section class="top">
    <div class="topl">
      <h1>LOGO</h1>
    </div>

    <div class="topm">
      <img class="tmsrch" src="../assets/Images/search.svg" alt="" />
      <input type="text" placeholder="Search here..." />
      <div class="topflt">
        <img src="../assets/Images/filter.svg" alt="" />
        <h2>Filter</h2>
      </div>
    </div>

    <div class="topr">
      <h2>Become a Seller</h2>
    </div>
  </section>

  <section class="body">
    <section class="leftsd">
      <ul class="ulist">
        <li class="ul1">Home</li>
        <li class="ul2">Notification</li>
        <li class="ul3">Shop</li>
        <li class="ul4">Conversation</li>
        <li class="ul5">Wallet</li>
        <li class="ul6">Subscription</li>
        <li class="ul7">My Profile</li>
        <li class="ul8">Settings</li>
      </ul>
      <p>Log out</p>
    </section>

    <section class="bodmdl">
      <div class="bdfrst">
        <div class="bdtp">
          <div class="bdfrstlft">
            <img src="../assets/Images/first_image.png" alt="" />
            <div class="bdnme">
              <h3>Lara Leones</h3>
              <p>&#64;thewallart</p>
            </div>
          </div>
          <div class="bdfrstrgt">
            <section class="bddots"></section>
            <section class="bddots"></section>
            <section class="bddots"></section>
          </div>
        </div>

        <div class="bdpar">
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
            <span>Read More</span>
          </p>
        </div>
        <div class="imghold">
          <img
            class="fimg"
            src="../assets/Images/pexels-humphrey-muleba-2045248.png"
            alt=""
          />
        </div>

        <div class="sepertr"></div>

        <div class="imgmta">
          <div class="imginter">
            <img src="../assets/Images/heart_1.svg" alt="" /> <span>9.8k</span>
          </div>
          <div class="imginter">
            <img src="../assets/Images/comment.svg" alt="" /> <span>8.6k</span>
          </div>
          <div class="imginter">
            <img src="../assets/Images/share.svg" alt="" /> <span>7.2k</span>
          </div>
        </div>
      </div>

      <div class="bdfrst">
        <div class="bdtp">
          <div class="bdfrstlft">
            <img src="../assets/Images/secoond_img.png" alt="" />
            <div class="bdnme">
              <h3>Thomas J.</h3>
              <p>&#64;thecustomcreater</p>
            </div>
          </div>
          <div class="bdfrstrgt">
            <section class="bddots"></section>
            <section class="bddots"></section>
            <section class="bddots"></section>
          </div>
        </div>

        <div class="bdpar">
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
            <span>Read More</span>
          </p>
        </div>
        <div class="imghold">
          <img
            class="fimg"
            src="../assets/Images/pexels-tobias-bjørkli-2236382.png"
            alt=""
          />
        </div>

        <div class="sepertr"></div>

        <div class="imgmta">
          <div class="imginter">
            <img src="../assets/Images/heart_1.svg" alt="" /> <span>9.8k</span>
          </div>
          <div class="imginter">
            <img src="../assets/Images/comment.svg" alt="" /> <span>8.6k</span>
          </div>
          <div class="imginter">
            <img src="../assets/Images/share.svg" alt="" /> <span>7.2k</span>
          </div>
        </div>
      </div>

      <div class="imgecrsl">
        <div class="frstcr">
          <div class="frstcrmn">
            <img src="../assets/Images/pexels-pixabay-1.png" alt="" />
          </div>
          <div class="firststr">
            <img src="../assets/Images/star.svg" alt="" />
            <img src="../assets/Images/star.svg" alt="" />
          </div>
        </div>

        <div class="sectcr">
          <div class="seccrmn">
            <img src="../assets/Images/Image 40.png" alt="" />
            <p>Modern Wall Decor Framed Painting</p>
          </div>
          <div class="sectstr">
            <p>$199.99</p>
            <div class="stars">
              <img src="../assets/Images/star.svg" alt="" />
              <img src="../assets/Images/star.svg" alt="" /><img
                src="../assets/Images/star.svg"
                alt=""
              />
              <img src="../assets/Images/star.svg" alt="" /><img
                src="../assets/Images/star.svg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="sectcr">
          <div class="seccrmn">
            <img src="../assets/Images/Image 39.png" alt="" />
            <p>Modern Wall Decor Framed Painting</p>
          </div>
          <div class="sectstr">
            <p>$199.99</p>
            <div class="stars">
              <img src="../assets/Images/star.svg" alt="" />
              <img src="../assets/Images/star.svg" alt="" /><img
                src="../assets/Images/star.svg"
                alt=""
              />
              <img src="../assets/Images/star.svg" alt="" /><img
                src="../assets/Images/star.svg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="frstcr">
          <div class="frstcrmn">
            <img src="../assets/Images/pexels-pixabay-1.png" alt="" />
          </div>
          <div class="firststr">
            <p>$19</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bodrgt">
      <div class="rgtfrt">
        <p>Artists <span>Photographers</span></p>
      </div>

      <div class="rgtimg1">
        <div class="img1det">
          <div>
            <img
              src="../assets/Images/pexels-anastasia-shuraeva-4406721.jpg"
              alt=""
            />
          </div>
          <div class="rgtimgdet">
            <b>Thomas Edward</b>
            <p>&#64;thewildwithyou</p>
          </div>
        </div>
      </div>

      <div class="rgtimg2">
        <div class="img1det">
          <div>
            <img
              src="../assets/Images/pexels-andrea-piacquadio-3771118.jpg"
              alt=""
            />
          </div>
          <div class="rgtimgdet">
            <b>Chris Doe</b>
            <p>&#64;thewildwithyou</p>
          </div>
        </div>
      </div>

      <div class="rgtimg3">
        <div class="img1det">
          <div>
            <img
              src="../assets/Images/pexels-antoni-shkraba-4442102.jpg"
              alt=""
            />
          </div>
          <div class="rgtimgdet">
            <b>Emilie Jones</b>
            <p>&#64;thewildwithyou</p>
          </div>
        </div>
      </div>

      <div class="rgtimg4">
        <div class="img1det">
          <div>
            <img
              src="../assets/Images/pexels-antoni-shkraba-4442005.jpg"
              alt=""
            />
          </div>
          <div class="rgtimgdet">
            <b>Jessica Williams</b>
            <p>&#64;thewildwithyou</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
